@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

/* Material Design styles */

body {
  font-family: 'Roboto', sans-serif;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
}

.nav-link {
  font-weight: 500;
  font-size: 0.875rem;
  color: gray;
}

header .nav-link:hover,
header .nav-link:focus {
  color: red;
}

header .nav-link:active {
  color: #ffdb4d;
}

.form-control {
  border: none;
}

.plus-badge {
  font-size: 10px;
  padding: 10px 10px;
  background: linear-gradient(101.67deg, #48cce0 7.24%, #505add 34.12%, #be40c0 62.93%, #fba82b 92.22%);
}

.dropdown-item {
  font-size: 0.875rem;
}

.card {
  border-radius: 0;
  transition: outline 0.3s ease-in-out;
}

.card:hover {
  outline: 4px solid #58533e;
}

.card-item {
  font-size: 1.25rem;
  font-weight: 500;
}

.card-text {
  font-size: 1rem;
  font-weight: 500;
}

.text-muted {
  color: gray;
}

.list-group-item {
  border: none;
}

.list-group-item img {
  margin-right: 0.75rem;
}

.list-group-item:hover {
  outline: 4px solid #914dff;
  z-index: 1;
}

footer {
  font-size: 0.875rem;
}
